.company {
    margin-bottom: 26px;

    &__title {
        margin-bottom: 27px;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        color: #ED1D23;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__box {
        padding-left: 32px;
    }

    &__desc {

        p {
            margin-bottom: 10px;
            line-height: 27px;
            color: #111;

            &:first-child {
                margin-bottom: 29px;
            }
        }
    }
}

@media all and (max-width: 767px) {
    .company {

        &__box {
            padding-left: 0;
        }
    }
}

@media all and (max-width: 577px) {
    .company{

        &__title {
            font-size: 22px;
        }
    }
}