.c-function {
    margin-bottom: 89px;

    &__title {
        margin-bottom: 33px;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 37px;
        text-transform: uppercase;
        letter-spacing: 1px;

        span {
            color: #ed1d23;
        }
    }

    &__item {
        margin-bottom: 30px;
    }

    &__link {
        border: 1px solid #d4d4d4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: 'tt_normsbold', sans-serif; 
        font-weight: 700;
        color: #111111;
        cursor: pointer;

        &:hover {
            color: #111111;
            text-decoration: none;
            background-color: #f7f7f7;
            transition: all ease .5s;
        }

        img {
            width: 95px;
            margin-right: 19px;
            border-right: 1px solid #d4d4d4;
        }
    }
}

@media all and (max-width: 991px) {
    .c-function {
        margin-bottom: 40px;
    }
}