.pop-up-mark {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.pop-up-mark.passive {
    display: none;
}

.pop-up-mark .cover {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.wrapper-close-pop-up {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.close-pop-up {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.wrapper-close-pop-up:hover {
    cursor: pointer;
}

.wrapper-close-pop-up:hover .close-pop-up {
    transform: rotate(90deg);
}

.close-pop-up span {
    display: block;
    width: 20px;
    height: 2px;
    background: #889ba4;
    transition: transform 0.4s ease, opacity 0.01s ease;
    transform: rotate(0) translate(0, 0);
    opacity: 1;
    position: relative;
    transform-origin: left;
}

.close-pop-up span:nth-child(1) {
    transform: rotate(45deg) translate(0px, 0px);
    top: -1px;
    left: 3px;
}


.close-pop-up span:nth-child(2) {
    transform: rotate(-45deg) translate(0px, 0px);
    top: 3px;
    left: 3px;
}

.pop-up-mark .pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    background: transparent;
    padding: 46px;

}

.pop-up-slider.passive-slider {
    z-index: -1;
}

.pop-up-slider-content-slide {
    height: 75vh;
    display: flex;
    align-items: center;
}

.pop-up-slider-content-slide img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.pop-up-slider-wrapper {
    position: relative;
    backface-visibility: hidden;
}

.prev-pop-up,
.next-pop-up {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #d3d3d3 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    backface-visibility: hidden;
}

.prev-pop-up {
    left: 0;
    transform: translate(-150%, -50%);
}

.next-pop-up {
    right: 0;
    transform: translate(150%, -50%);
}

.prev-pop-up:hover,
.next-pop-up:hover {
    cursor: pointer;
    border: #50ccd5 2px solid;
}

.popup__arrowright {
    top: 50%;
    right: -80px;
}

.popup__arrowleft {
    top: 50%;
    left: -80px;
}

.pop-up-slider-content-slide img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .prev-pop-up,
    .next-pop-up {
        width: 55px;
        height: 55px;
    }
}

// --------- Form --------

.pop-up-book,
.pop-up-place {

    .pop-up__form {
        position: relative;
        width: 415px;
        padding: 80px 45px;
        background-color: #fff;
    }

    .wrapper-close-pop-up {

        span {
            background-color: #ED1D23;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        

        input {
            width: 100%;
            padding-bottom: 5px;
            margin-bottom: 36px;
            outline: none;
            border: none;
            border-bottom: 1px solid #ccc;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            border-radius:0;
    
            &:focus {
                border-bottom: 2px solid #111111;
                -webkit-appearance: none;
                -webkit-border-radius: 0px;
                border-radius:0;
            }
        }

        .form__link {
            width: 140px;
            

            input {
                font-size: 12px;
                font-weight: 700;
                color: #ED1D23;
                margin-bottom: 0;
                padding-bottom: 5px;
                background-color: inherit;
                border-bottom: 2px solid #ED1D23;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 2px;

                &:hover {
                    color: #bc0005;
                    border-bottom: 2px solid #bc0005;
                }
            }
    
            
        }
    }
}

.pop-up-book.content {
    padding-top: 0;
}

.pop-up-place.content {
    padding-top: 0;
}

@media all and (max-width: 575px) {
    .pop-up-book {

        .pop-up__form {
            width: 300px;
        }
    }
}